{% extends 'base.html' %}

{% block content %}
<main class="container-fluid px-0 m-0 mb-1">

<div class="row d-flex justify-content-center w-100 p-0 m-0 mb-4">
    {% for book in response %}
    <div class = "col-8 col-md-3 p-2 m-1 text-center my-2 h-75">
        <img class = "img-fluid bookimage" src = "{{ book.image }}"  alt="Image">
        <div class="h6 fw-bold">{{ book.title }} ({{ book.year }})</div>
        <div class="h6">{{ book.author }}</div>
        <div class="h6">ISBN: {{ book.isbn }}</div>
        {% if book.hardcover %}
            <div class="h6">Hardcover ${{ book.price }}</div>
        {% else %}
            <div class="h6">Paperback ${{ book.price }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>

</main>
{% endblock %}