{% extends 'base.html' %}

{% block content %}
<div class="bg-light row d-flex justify-content-center my-5 w-100">
    <div class = "col-8 col-lg-3 border border-dark p-0 mx-2">
        <img class = "img-fluid" src = "../../static/images/Location.jpg"  alt="Location">
        <div class="h4 text-center p-0">Locations</div>
    </div>
    <div class = "col-8 col-lg-3 border border-dark p-0 mx-2">
        <img class = "img-fluid" src = "../../static/images/Looking.jpg"  alt="Location">
        <div class="h4 text-center p-0">Book Search</div>
    </div>
    <div class = "col-8 col-lg-3 border border-dark p-0 mx-2">
        <img class = "img-fluid" src = "../../static/images/Event.jpg"  alt="Location">
        <div class="h4 text-center p-0">Events</div>
    </div>
</div>

{% endblock %}